.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background-color: white;
    margin-top: 10px;
}
.one{
display: flex;
}
.imgone{
    height:20%;
    width:20%;
    margin: 10px;
}